<footer class="footer">
  <div class="container footer__container flex">
    <div class="footer__logo flex">
      <a href="#">
        <img src="../img/Logo.png" alt="Логотип High pass">
      </a>

      <span class="footer__logo__text">
        Фотостудия High pass® 2018–2020
      </span>
    </div>
    <div class="footer__info">
      <p class="footer__info__text">
        Которая из&nbsp;моих фотографий самая любимая? Та, которую я&nbsp;собираюсь снять завтра.
        &copy;&nbsp;Имоджен Каннингем
      </p>
    </div>
    <div class="footer__icon">
      <p class="footer__icon__text">
        Больше интересного:
      </p>
      <svg class="icon" width="30" height="30" viewBox="0 0 30 30">
        <use xlink:href="img/sprite.svg#social"></use>
      </svg>
      <svg class="icon" width="30" height="30" viewBox="0 0 30 30">
        <use xlink:href="img/sprite.svg#vk"></use>
      </svg>
    </div>


  </div>
</footer>