<header class="header">
    <!-- <div class="container__grey"> -->
            <div class="container container__header flex">
                <a href="#" class="header__logo">
                    <img class="logo" src="../img/Logo.png" alt="Логотип">
                </a>
                <nav class="header__nav ">
                    <ul class="header__nav__list list-reset flex">
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link ">
                                О&nbsp;студии
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Наши проекты
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Услуги
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Мастер-классы
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- <div class="burger-menu">

                </div> -->
                <div class="header__form__container">
                    <button class="header__nav__btn form-btn__open btn-reset">
                        <svg class="" width="25" height="25" viewBox="0 0 25 25" >
                            <use xlink:href="img/sprite.svg#Group"></use>
                        </svg>
                    </button>
                    <form action="#" class="header__form">
                        <input class="header__form__input" type="text" placeholder="Что будем искать?">
                        <button class="form-btn__submit btn-reset ">
                            <svg class="form__svg" width="25" height="25" viewBox="0 0 25 25" >
                                <use xlink:href="img/sprite.svg#Group"></use>
                            </svg>
                        </button>
                        <button class="form-close btn-reset" type="button">
                            <svg  class="form__svg__circle " width="24" height="24" viewBox="0 0 24 24">
                            <use xlink:href="img/sprite.svg#Component"></use>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

        </header>
            <div class="menu__bottom">
                <nav class="nav__bottom ">
                    <ul class="header__nav__list list-reset flex">
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link ">
                                О&nbsp;студии
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Наши проекты
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Услуги
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Мастер-классы
                            </a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
       
