<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/Frame 290.png" type="image/png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Site</title>
  <link rel="preload" href="fonts/TTFirsNeue-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AnyConv.com__Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
  <script defer type ="text/javascript" src="js/main.js"></script>
</head>
